@charset "UTF-8";
#mindiv_main{
	transform: translateY(100px);
}
.maindiv {
   position: relative;
   width: 1000px;
   height: 365px;
   margin: 0 auto;
   margin-bottom: 20px
}

.div0 {
   position: absolute;
   top: 24px;
   left: 15px;
}
.maindiv_img{
	width:150px;
	height:150px;
}
.div0 >img {
   width: 480px;
   height:320px;
   border-radius: 20px 0 0 20px;
}

.div1 {
   position: absolute;
   left: 506px;
   top: 24px;
}

.div1 img {
   width: 235px;
}

.div2 {
   position: absolute;
   left: 750px;
   top: 24px;
}

.div2 img {
   width: 235px;
   border-radius: 0 20px 0px 0;
}

.div3 {
   position: absolute;
   top: 198px;
   left: 506px;
}

.div3 img {
   width: 235px;
}

.div4 {
   position: absolute;
   top: 198px;
   left: 750px;
}

.div4 img {
   width: 235px;
   border-radius: 0 0 20px 0;
}

.info {
   width: 1000px;
   margin: 0 auto;
}

.first {
   font-size: xx-large;
   font-weight: bolder;
   margin: 10px 0 10px 0;
}

.second {
   color: orange;
   font-weight: bold;
   font-size: large;
   margin: 10px 0 10px 0;
}

.third {
   color: gray;
   margin: 10px 0 10px 0;
}

.four {
   font-weight: bold;
}

.five {
   text-align: right;
   margin: 0px 0 15px 0;
   font-weight: bold;
}

.six {
   text-align: right;
   margin: 10px 0 10px 0;
   font-weight: bold;
}

.seven {
   text-align: right;
   margin: 10px 0 10px 0;
   font-weight: bold;
}

.reviewdiv {
   display: flex;
   width: 1000px;
   margin: 0 auto;
}

.review {
   width: 1000px;
   margin: 0 auto;
}

.reviewtitle {
   width: 1000px;
   margin: 0 auto;
}

#reviewbox {
   width: 1000px;
   margin: 0 auto;
}

.rimages {
   width: 235px;
}

.rtitle {
   font-weight: bold;
   font-size: x-large;
}

.starcnt img {
   width: 30px;
}

.rstar {
   display: inline-block;
}
#product_choose{
	border: 1px solid #ccc;
    margin-bottom: 30px;
    height: 300px;
    position: relative;
}
#product_choose_img >img{
	width:390px;
	height:240px;
	    position: absolute;
    padding: 10px;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
}
#jproduct_item1{
	position:absolute;
	width:250px;
	height:300px;
	left:430px;
}
#jproduct_item2{
	position:absolute;
	width:250px;
	height:300px;
	left:730px;
}
#ahffk{
	width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
}
#ahffk2{
	width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
}
.addad{
}
.jproduct_type1{
	font-size:20px;
	left:0px;
	position:absolute;
	font-weight:bold;
}
.jproduct_type2{
	font-size:20px;
	left:0px;
	position:absolute;
	font-weight:bold;
}
.jprice1{
	font-size: 20px;
    left: 165px;
    top: 55px;
        width: 100%;
    font-weight: bold;
    position: absolute;
    color: rgb(0 149 255);
}
.jprice2{
	font-size:20px;
	left:155px;
	top:55px;
	    width: 100%;
	font-weight:bold;
	position:absolute;
	color: rgb(0 149 255);
}
#jleft_border{
	border-left:1px solid black;
	height: 250px;
    position: absolute;
    left: 705px;
}
#half_checkIn_button{
position: absolute;
    bottom: 75px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:#2d9cdb;
    color:white;
    }
#full_checkIn_button{
	position: absolute;
    bottom: 75px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
     background-color:#2d9cdb;
     color:white;
}
#tiem_info_Area1{
	display: flex;
    justify-content: space-between;
    margin-top: 15px;
        font-size: 18px;
}
#tiem_info_Area2{
	display: flex;
    justify-content: space-between;
    margin-top: 20px;
        font-size: 18px;
}
.first_time_info{
	color:#767676e0;
}
.second_time_info{
	font-size:16px;
}